.name {
  text-align: center;
}

#propic {
  height: auto;
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13%;
  border: 2px solid black;
}

.sidebar {
  float: left;
  width: 16%;
  background-color: salmon;
  height: 1000px;
  margin-left: 40px;
  margin-top: 100px;
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
}
